* {
	margin: 0;
	padding: 0;
}

.w {
	width: 1200px;
	margin: auto;
}

.clearfix:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

body {
	background: #f3f5f7;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*头部*/
header {
	height: 101px;
}

h1 {
	width: 195px;
	height: 42px;
	background: url(../images/logo.png) no-repeat center;
}

header h1 {
	float: left;
	margin-top: 30px;
}

header ul {
	float: left;
	margin-left: 70px;
	margin-top: 30px;
}

header ul li {
	float: left;
	margin-right: 27px;
}

header ul li a {
	display: block;
	padding: 0 8px;
	height: 40px;
	line-height: 40px;
	color: #050505;
	font-size: 18px;
}

header ul li a:hover {
	border-bottom: 2px solid #14aafe;
}

header>div {
	float: left;
}

.search {
	margin: 30px 0;
	margin-left: 60px;
}

.search input {
	float: left;
	height: 38px;
	width: 345px;
	border: 1px solid #14aafe;
	border-right: 0;
	padding-left: 15px;
}

.search button {
	float: left;
	width: 50px;
	height: 40px;
	background: url(../images/btn.png);
	border: 0;
}

.user {
	margin: 35px 0 0 30px;
}

.user img {
	float: left;
}

.user span {
	float: left;
	margin-left: 6px;
}

/*头部over*/

/* 轮播图 */
.show {
	background: #1c036c;
	height: 420px;
}

.show .w {
	position: relative;
	height: 420px;
}

.nav_left {
	position: absolute;
	/* float: left; */
	left: 0;
	top: 0;
	width: 190px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5);
}

.nav_left ul {
	padding: 10px 20px;
}

.nav_left ul li a {
	display: block;
	font-size: 14px;
	line-height: 44px;
	height: 44px;
	color: white;
}

.nav_left ul li a:hover {
	color: #14aafe;
}

.nav_left li a span {
	float: right;
	font-family: "宋体";
	font-weight: 700;
}

.nav_right {
	position: absolute;
	/* float: right; */
	right: 0;
	top: 0;
	width: 228px;
	height: 300px;
	margin-top: 50px;
	background: white;
}

.nav_right h3 {
	height: 48px;
	background: #9bceea;
	text-align: center;
	line-height: 48px;
}

.nav_right>div {
	padding: 0 18px;
}

.nav_right>div ul li a {
	display: block;
	padding: 13px 0;
	color: #4e4e4e;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}

.nav_right li a span {
	font-size: 14px;
}

.nav_right li a p {
	font-size: 12px;
	color: #a5a5a5;
}

.nav_right>div>a {
	display: block;
	margin-top: 5px;
	height: 38px;
	border: 1px solid #14aafe;
	text-align: center;
	color: #14aafe;
	line-height: 38px;
}

.radius {
	position: absolute;
	left: 50%;
	bottom: 15px;
	margin-left: -90px;
	width: 180px;
	height: 12px;
}

.radius li {
	float: left;
	width: 12px;
	margin: 0 8px;
	background: white;
	height: 12px;
	border-radius: 50%;
}

.radius .selected {
	width: 16px;
	border-radius: 6px;
	background: orange;
}

/* 轮播图over */
/* 精品推荐 */
.nav {
	height: 60px;
	background: white;
	margin-top: 8px;
	line-height: 60px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.nav li {
	float: left;

}

.nav li h4 {
	color: #00a4ff;
	font-size: 16px;
	margin: 0 34px;
}

.nav li a {
	color: #050505;
	font-size: 16px;
	padding: 0 36px;
	border-left: 1px solid #ccc;
}

.nav>a {
	float: right;
	color: #14aafe;
	font-size: 14px;
	margin-right: 26px;
}

/* 精品推荐over */

/* 课程块 */
section {
	margin-top: 37px;
}

section h3 {
	font-size: 20px;
	color: #494949;
	height: 40px;
}

section h3 a {
	color: #a5a5a5;
	font-size: 12px;
	float: right;
	line-height: 40px;
}

section .w ul {
	width: 1215px;
}

section .w li {
	position: relative;
	float: left;
	width: 228px;
	height: 270px;
	background: white;
	margin: 0 15px 15px 0;
}

section .w li img:nth-child(1) {
	width: 100%;
}

section .w li a {
	display: block;
	margin: 25px 20px 20px;
	color: #050505;
	font-size: 14px;
}

section .w li p {
	margin: 0 20px;
	font-size: 12px;
	color: #606060;
}

section .w li p span {
	color: #ff7c2d;
}

/* 课程块over */

/* hot */
.hot {
	position: absolute;
	top: 3px;
	right: -4px;
}

/* 底部 */
footer {
	margin-top: 40px;
	height: 270px;
	background: white;
}

.footer_left {
	float: left;
}

.footer_left h1 {
	margin-bottom: 25px;
}

.footer_left p {
	color: #666666;
	font-size: 12px;
}

.footer_left>a {
	display: block;
	margin-top: 15px;
	width: 118px;
	height: 34px;
	color: #14aafe;
	text-align: center;
	line-height: 34px;
	border: 1px solid #14aafe;
}

.footer_right {
	float: right;
}

.footer_right dl {
	float: left;
	margin-left: 120px;
}

.footer_right dt {
	margin-bottom: 15px;
	color: #333;
	font-size: 16px;
}

.footer_right dd a {
	line-height: 21px;
	color: #333;
	font-size: 12px;
}

.footer_left,
.footer_right {
	margin-top: 33px;
}

/* 底部over */